# https://git-scm.com/docs/gitignore
# http://www.gitignore.io/

# Build results
target

# IntelliJ IDEA configurations
.idea
.idea_modules
*.iml
*.iws
*.ipr
*.eml
.shelf
out

# Eclipse configurations
.project
.classpath
.settings
.metadata
bin/

# NetBeans configurations
nb*.xml

# Mac-specific directory that no other operating system needs.
.DS_Store

# docker environment file
.env

# attach pid files
.*pid*

# logs
*.log

# temp files
temp.*
tmp.*
test.*

# cache
*.cache

# GraalVM agent output
.graal**

# examples generated docs
/examples/group-documentation-asciidoctor/documentation-asciidoctor-custom-sections/src/main/asciidoc/*.adoc
/examples/group-documentation-asciidoctor/documentation-asciidoctor-echo/src/main/asciidoc/*.adoc
/examples/group-documentation-asciidoctor/documentation-asciidoctor-errors/src/main/asciidoc/*.adoc
/examples/group-documentation-asciidoctor/documentation-asciidoctor-full/src/main/asciidoc/*.adoc
/examples/group-documentation-asciidoctor/documentation-asciidoctor-metadata-annotations/src/main/asciidoc/*.adoc
/examples/group-documentation-asciidoctor/documentation-asciidoctor-metadata-pomxml/src/main/asciidoc/*.adoc
/examples/group-documentation-asciidoctor/documentation-asciidoctor-quick-start/src/main/asciidoc/*.adoc
/examples/group-documentation-asciidoctor/documentation-asciidoctor-validation/src/main/asciidoc/*.adoc
/examples/group-documentation-asciidoctor/documentation-asciidoctor-all-std-validators/src/main/asciidoc/*.adoc
/examples/group-unnamed-module/unnamed-module-documentation-asciidoctor-metadata-annotations/src/main/asciidoc/*.adoc
/code-fragments/src/main/asciidoc/*.adoc

# native images
HelloWorldMicroService
MongoLauncher
PostgresLauncher
RestClientLauncher
RestNettyClientLauncher
RestJdkClientLauncher
GetConfigLauncher
WithoutAnything
WithSout

# Linux internal files
.directory