# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Maven source resources
src/main/java
src/main/resources
src/test/java
src/test/resources
pom.xml

# Maven target resources
target/classes
target/generated-sources

target/test-classes
target/generated-test-sources
target/surefire-reports
target/jacoco.exec

target/maven-archiver
target/maven-status

# IntelliJ IDEA configurations
.idea
.idea_modules
*.iml
*.iws
*.ipr
*.eml
.shelf

# Eclipse configurations
.project
.classpath
.settings
.metadata
bin/

# NetBeans configurations
nb*.xml

# Mac-specific directory that no other operating system needs.
.DS_Store

# Git
.git

# docker environment file
.env

# attach pid files
.*pid*

# logs
*.log

# temp files
temp.*
tmp.*
test.*